body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.ui-container {
    position: absolute;
    top: 0;
    right: 0;
}

#controls {
    width: 20vw;
    margin: 0 auto;
    padding: 10px;
    overflow-y: scroll;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
}

#controls .sliders {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: 8px 0;
}

#controls input,
#controls button {
    cursor: pointer;
    text-align: center;
}

#controls, button {
    color: black;
    font-weight: bold;
}

select {
    font-weight: bold;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

input[type=checkbox] {
    width: 25px !important;
    height: 25px !important;
    margin: 5px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

canvas{
    position: absolute;
    z-index: 2;
    mix-blend-mode: multiply;
}
canvas + canvas{
    z-index: 1;
}